{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "python",
    "COMBOI_TIMER_SCHEDULE": "0 0 * * * *",
    "COMBOI_QUEUE_NAME": "comboi-tasks",
    "COMBOI_QUEUE_CONNECTION": "DefaultEndpointsProtocol=https;AccountName=...;",
    "COMBOI_CONFIG": "configs/default.yml",
    "COMBOI_START_STAGE": "all"
  }
}

